.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
body{
    background-color: lavender;
}
.App-header {
  background-color: #d1d6ff;
  color: white;
    margin-bottom: 5px;
}
footer{
    background-color: #d1d6ff;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
ul{
    list-style-type: none;
    padding: 10px;

}
.option{
    float: left;
    width: 100%;
    padding: 5px;
    margin: 2px;
}
.btn-selected{
    background-color: #e9e9ff;
}
.balance{
    width: 98%;
}
.money-value{
    font-size: 60px;
    color: green;
}
.send-history{
    background-color: rgba(255, 0, 0, 0.62);
    text-decoration: none;
}
.receive-history{
    background-color: aqua;
}
row{
    width: 99%;
}
.btn-login{
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info-hide{
     display: block;
     padding: 10px;
     margin-top: 5px;
     margin-bottom: 5px;
     visibility: hidden;
 }
.info-error{
    background-color: #ff3f2b;
    display: block;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    visibility: visible;
}
.info-success{
    background-color: #6fff4b;
    display: block;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    visibility: visible;
}
.attention-header{
    background-color: red;
}
.attention-hide{
    display: none;
}
.walletid{
    width: 220px;
}
.login-form{
    background-color: #d1d6ff;
    padding-top: 30px;
    margin-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
p{
    padding-top: 5px;
}